* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    background: #141519;
    font-family: 'Overpass', sans-serif;
    display: grid;
    place-items: center;
}

p {
    color: #959eac;
    font-size: .9375rem;
}

h1, h2 {
    color: #fff;
}

button {
    border: none;
    font-family: 'Overpass', 'sans-serif';
    cursor: pointer;
}